@charset "UTF-8";

.city {
float: left;
margin: 5px;
padding: 15px;
width: 200px;
height: 300px;
border: 1px solid black;
} 
#header {
	background-color: #363a45;
	color: white;
	text-align: center;
	padding: 5px;
}

#nav {
	line-height: 30px;
	background-color: #363a45;
	height: 525px;
	width: 255px;
	float: left;
	padding: 5px;
}

#section {
	width: 1064px;
	float: left;
	height: 515px;
	padding: 10px;
}

#footer {
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}

#nav>ul {
	background-color: gray;
	padding-left: 50px;
}

#nav>ul>li {
	float: left;
	padding: 5px;
	border-left: solid 1px black;
	position: relative;
	cursor: pointer;
}

#nav>ul>li:hover ul {
	display: block;
}

#nav ul li ul {
	position: absolute;
	display: none;
	background-color: #ccc;
	left: 0;
	top: 100%;
}

#nav ul li ul li {
	padding: 5px;
	cursor: pointer;
}

#openXT {
	width: 322px;
	float: left;
	height: 105px;
	padding: 10px;
	border:1px solid #000
}

#inXT {
	width: 322px;
	float: left;
	height: 105px;
	padding: 10px;
	background-color: blue;
}

#closeXT {
	width: 322px;
	float: right;
	height: 105px;
	padding: 10px;
	background-color: orange;
}
