@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}
.hang{
	
}

.xttable{
	width:500px;
	height:190px;
}

#dialog {
	z-index: 1;
	background: lightgreen;
	width: 340px;
	height: 125px;
	margin: -10px -10px;
	border:1px solid #000;
}

#dialog .textdiv span {
	font-size: 20px;
	color: red;
	font-weight: bold;
	padding-top: 100px;
	padding-left: 100px;
}

#dialog .textdiv .testbutton:hover {
	background: red;
}

#mid {
	margin-top: 0px;
	position: absolute;
	z-index: 2;
	width: 800px;
	height: 600px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}

.xtbutton {
	position: fixed;
	background: #363a45;
	height: 30px;
	width: 120px;
	border: 2px dotted red;
	text-align: center;
	margin: 2px 2px;
	
}

#xtpop_frame {
	position: absolute;
	z-index: 3;
	height: 400px;
	width: 510px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}

.xtframe_top {
	height: 50px;
	background: #363a45;
	border:1px solid #000;
}

.xtframe_top .tip {
	font-size: 16px;
	line-height: 50px;
	padding-left: 20px;
	font-weight: bold;
	font-family: "微软雅黑";
	float: left;
	text-align:center;
}

.xtframe_top .close span {
	position: relative;
	top: 19px;
	right: 20px;
	height: 20px;
	width: 30px;
	border: 1px solid #FFF;
	font-size: 12px;
	font-family: "微软雅黑";
	float: right;
	line-height: 20px;
}

.xtframe_top .close span:hover {
	cursor: pointer;
	background: rgba(128, 128, 128, 0.3);
}

.xtframe_body {
	height: 200px;
	background: white;
	
}

.xtframe_body .text {
	padding-top: 30px;
	font-size: 16px;
	padding-left: 100px;
	font-weight: bold;
	font-family: "微软雅黑";
}

.xtbottom {
	height: 40px;
	background: #363a45;
	
}

.xtbutton_left {
	width: 45px;
	height: 28px;
	margin-left: 80px;
	background:white;
	font-size: 16px;
	font-weight: bold;
	font-family: "微软雅黑";
	text-align:center;
	
}

.xtbutton_right {
	width: 45px;
	height: 28px;
	margin-left: 80px;
	background:white;
	font-size: 16px;
	font-weight: bold;
	font-family: "微软雅黑";
	
}